<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contratantes</title>
  </head>
  <body>
    <%- include('nav') %>
    <h1>Contratantes</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% contratantes.forEach(function(contratante) { %>
        <tr>
          <td><%= contratante.idContratante %></td>
          <td><%= contratante.nome %></td>
          <td><%= contratante.cpf %></td>
          <td><%= contratante.telefone %></td>
          <td><%= contratante.email %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
