<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Itens e Grupos</title>
  </head>
  <body>
    <%- include('nav') %> <%- include('estilo') %>
    <h1>Itens e Grupos</h1>
    <table>
      <thead>
        <tr>
          <th>ID do Item</th>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Preço de Locação</th>
          <th>Data de Adição</th>
        </tr>
      </thead>
      <tbody>
        <% itensGrupo.forEach(item => { %>
        <tr>
          <td><%= item.idItem %></td>
          <td><%= item.nome %></td>
          <td><%= item.categoria %></td>
          <td>R$ <%= item.preco_loca %></td>
          <td><%= item.data_adicao %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
