<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Itens em Manutenção</title>
  </head>
  <body>
    <%- include('nav') %> <%- include('estilo') %>
    <h1>Itens em Manutenção</h1>
    <table>
      <thead>
        <tr>
          <th>ID Manutenção</th>
          <th>Código de Barras</th>
          <th>Nome do Grupo</th>
          <th>Motivo</th>
          <th>Data Início</th>
          <th>Data Fim</th>
          <th>Responsável</th>
        </tr>
      </thead>
      <tbody>
        <% itensManutencao.forEach(item => { %>
        <tr>
          <td><%= item.idManutencao %></td>
          <td><%= item.cod_barras %></td>
          <td><%= item.nome %></td>
          <td><%= item.motivo %></td>
          <td><%= item.data_inicio %></td>
          <td><%= item.data_fim ? item.data_fim : 'Em manutenção' %></td>
          <td><%= item.responsavel %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
