<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservas</title>
  </head>
  <body>
    <%- include('nav') %> <%- include('estilo') %>
    <h1>Reservas</h1>
    <table>
      <thead>
        <tr>
          <th>ID Reserva</th>
          <th>Data da Reserva</th>
          <th>Data de Devolução</th>
          <th>Tipo</th>
          <th>Local do Evento</th>
          <th>CEP</th>
          <th>Apelido</th>
        </tr>
      </thead>
      <tbody>
        <% reservas.forEach(reserva => { %>
        <tr>
          <td><%= reserva.idReserva %></td>
          <td><%= reserva.data_reserva %></td>
          <td><%= reserva.data_devol %></td>
          <td><%= reserva.tipo %></td>
          <td><%= reserva.localEven %></td>
          <td><%= reserva.cep %></td>
          <td><%= reserva.apelido %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
